
.Line-4 {
    width: 150px;
    height: 2px;
    background-color: #e03116;
    }
    .Encompass{
        width: 470px;
        height: 214px;
       
        font-family: Poppins;
        font-size: 27px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: -0.29px;
        text-align: left;
        color: #1f2c40;
      }
    .Drive {
    width: 273px;
    height: 33px;
    margin: 0 0 7px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -0.19px;
    text-align: left;
    color: #1f2c40;
    }
    .Tap-into{
    width: 273px;
    height: 294.8px;
    margin: 7px 0 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.14px;
    text-align: left;
    color: grey;
    }
    .Leverage {
    width: 273px;
    height: 89px;
    margin: 0 0 7px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -0.19px;
    text-align: left;
    color: #1f2c40;
    }
    .Accelerate{
    width: 273px;
    height: 245px;
    margin: 7px 0 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.14px;
    text-align: left;
    color: grey;
    }
    HTM
    
    .Improve{
    width: 273px;
    height: 62px;
    margin: 0 0 7px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -0.19px;
    text-align: left;
    color: #1f2c40;
    }
    .Streamline {
    width: 273px;
    height: 248px;
    margin: 7px 0 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.14px;
    text-align: left;
    color:grey;
    }
    
    .Improve {
    width: 273px;
    height: 62px;
    margin: 0 0 7px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -0.19px;
    text-align: left;
    color: #1f2c40;
    }
    .Streamline{
    width: 273px;
    height: 248px;
    margin: 7px 0 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.14px;
    text-align: left;
    color: grey;
    }
    .Enhance{
    width: 273px;
    height: 62px;
    margin: 0 0 7px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -0.19px;
    text-align: left;
    color: #1f2c40;
    }
    .When {
    width: 271px;
    height: 249px;
    margin: 7px 0 0 2px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.14px;
    text-align: left;
    color: grey;
    }
    .left{
        width: 320px;
    height: 200px;
    background-color: white;
        }
    .col1 {
    width: 200px;
    height: 260px;
    background-color: white;
    }
    .col2 {
    width: 200px;
    height: 260px;
    
    }
    .col3 {
    width: 200px;
    height: 260px;
    
    }
    .col4 {
    width: 200px;
    height: 260px ;
    background-color: white;
    }
    
    .right {
        display: flex;
        
  flex-wrap: wrap;
  width:30%;
  margin-left: 0px;
  justify-content: space-evenly
    }
   .main{
    display:flex;
    margin-left: 290px;
    
 
   }
   *{
    width:1900px;
    
   }

   @media only screen and (max-width: 1024px){
    
    
    .main{
        display:block;
        margin-left: 150px;
        
     
       }
  .left{
    width: 600px;
height: 200px;
background-color: white;
    }
    .right {
        display: flex;
        
  flex-wrap: wrap;
 
  margin-left: 0px;
  justify-content: space-evenly
    }

    .col1 {
        width: 250px;
        height: 230px;
        background-color: white;
        }
        .col2 {
        width: 250px;
        height: 230px;
        
        }
        .col3 {
        width: 250px;
        height: 230px;
        
        }
        .col4 {
        width: 250px;
        height: 230px ;
        background-color: white;
        }
   }
   @media only screen and (max-width: 768px){
    .main{
        display:block;
        margin-left: 100px;
        
     
       }
  .left{
    width: 400px;
height: 200px;
background-color: white;
    }
    .right {
    display: block;
   margin-left: 0px;
   justify-content: space-evenly
    }
    .col1 {
        width: 360px;
        height: 160px;
        background-color: white;
        }
        .col2 {
        width: 360px;
        height: 180px;
        
        }
        .col3 {
        width: 360px;
        height: 160px;
        
        }
        .col4 {
        width: 360px;
        height: 160px ;
        background-color: white;
        }

}